.header {
  background-color: #f4d18c;
  padding-top: 30px;
  padding-bottom: 0;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: auto 1fr;

  @media (min-width: $desktop) {
    padding-top: 70px;
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $desktop) {
    padding: 15px 40px;
    background-color: #f9e499;
    border-radius: 100px;
  }
}
