.heroes {
  margin-bottom: 100px;

  @media (min-width: $tablet) {
    margin-bottom: 120px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 250px;
  }
}

.heroes__title {
  @include title;
  margin-bottom: 50px;

  @media (min-width: $desktop) {
    margin-bottom: 130px;
  }
}
