.keyart,
.keyart__layer {
  @media (min-width: $tablet) {
    height: 700px;
  }

  @media (min-width: $desktop) {
    height: 1000px;
  }
}

.keyart {
  @media (min-width: $tablet) {
    position: relative;
    z-index: 10;

    &--parallax {
      display: block;
    }
  }
}

.keyart__layer {
  @media (min-width: $tablet) {
    position: absolute;
    width: 100%;
    background-position: bottom center;
    background-size: auto 700px;
    background-repeat: repeat-x;

    transform: translateY(var(--translateY));
    will-change: transform;

    &--0 {
      background-image: url("../img/layer-1.svg");
      background-color: #8a40ec;
    }

    &--1 {
      background-image: url("../img/layer-2.svg");
    }

    &--2 {
      background-image: url("../img/layer-3.svg");
    }

    &--3 {
      background-image: url("../img/layer-4.svg");
    }

    &--4 {
      background-image: url("../img/layer-5.svg");
    }

    &--5 {
      background-image: url("../img/layer-6.svg");
    }

    &--scrim {
      background-color: #8a40ec;
      opacity: 0;
    }
  }

  @media (min-width: $desktop) {
    background-size: auto 1038px;
  }
}

.keyart__layer .parallax {
  @media (min-width: $tablet) {
    position: fixed;
  }
}
