.main-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 90;

  padding-top: 100px;
  background-color: #0b212a;
  color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transform: translateX(100%);
  transition: transform 0.3s ease;

  @media (min-width: $desktop) {
    position: static;
    padding-top: 0;
    background-color: transparent;
    transform: translateX(0);
    transition: none;
  }
}

.main-nav__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  text-align: center;

  @media (min-width: $desktop) {
    flex-direction: row;
    gap: 18px;
  }
}

.main-nav__item {
  opacity: 0;
  transition: opacity 0.4s ease;

  @media (min-width: $desktop) {
    opacity: 1;
  }
}

.main-nav__link {
  @include default-link;
  @include main-link;
  font-family: "Calypso", "Arial", sans-serif;
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;

  @media (min-width: $tablet) {
    font-size: 25px;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
  }
}

.main-nav__btn {
  @include default-link;
  @include atom;
  font-family: "Calypso", "Arial", sans-serif;
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;

  @media (min-width: $tablet) {
    font-size: 25px;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
  }
}
